<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= sanitize @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= sanitize @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<!--<%= link_to 'Edit', edit_user_path(@user) %> |-->
<%= link_to 'Back', users_path %>
