<br>
<h1>Evaluación de pila de desarrollo Ruby on Rails</h1>
<h1>1-Autores:  Sudheer Kumar Bethapudi y Juan Manuel Rey Alvarez</h1>
<h1>2-Detalles de la pila:  En esta primera versión se usa Ruby on Rails y Sqlite3</h1>
<h1>3-Ejemplos:  En las próximas versiones se actualizará este punto a medida que se incorporen</h1>

<h1><%= link_to 'Acciones de seguridad realizadas en este ejemplo', users_path %></h1>
<!--<h1><%= link_to 'Prevención de inyección SQL', users_path %></h1>-->

<h1>4-Pasos para lanzar el contenedor:</h1> 

<h1>5-Se realizó una aplicación, con un poco más de complejidad para que se pudiera ver desplegada en otra nube, en este caso una especializada en aplicaciones desarrolladas en rails.</h1>

<h1>https://jm-sample-app.herokuapp.com/</h1>

<h1>En la misma se pusieron en práctica todas las medidas de protección que se prácticaron durante el desarrollo de las prácticas con la aplicación sencilla como se recomendó.
También se comprobó en la misma el uso de https y se verificó en las dos como se genera el token asociado
a los formularios y el de sesión</h1>

<h1>- En la carpeta donde se pongan todos los archivos se usa para desplegar la aplicación:</h1>
<h1> docker-compose up</h1>

<h1>- Puede ser necesario si realizas algún cambio en los archivo Gemfile o de Docker hacerlo de la siguiente forma:</h1>
<h1>docker-compose build</h1>
<h1>docker-compose up </h1>

<h1> Nota importante: Se busco como establecer las configuraciones globales y poder desactivarlas para páginas
especificas para poder crear dos entorno, uno con todo correcto y el otro incorrecto y no se encontró, 
es decir si se activa es para todos o sino se tiene que desactivar, aunque se considera que es muy productiva la
forma en que rails protege y ayuda al programador, este punto se considera un problema, ya que restringe un poco al
mismo programador.</h1>